.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;



  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    height: 320px;
    width: 320px;
    object-fit: cover;
    opacity: 1;
    z-index: 1;
    border: 0px solid beige;
    transition: all 0.3s;
    
    animation-duration: 5s;

    
   

    @media (max-width: 415px) {
    position: absolute;
    top: 60px;
    left: 300px;
    display: none;
    margin: auto;
    width: 30%;
    opacity: 0;
    z-index: 1;
    }

    
}

.solid-logo3 {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  height: 320px;
  width: 320px;
  
  margin: auto;
  width: 80%;
  opacity: 1;
  z-index: 150;
  border: 0px solid beige;
  transition: all 0.3s;
  animation-duration: 5s;

  
 

  @media (max-width: 415px) {
  position: absolute;
  top: 60px;
  display: none;
  left: 300px;
  margin: auto;
  width: 30%;
  opacity: 0;
  z-index: 1;
  }

  
}

.solid-logo2 {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  background-color: aliceblue;
  left: 0;
  margin: auto;
  width: 80%;
  opacity: 1;
  z-index: -1;
  border: 0px solid beige;
  transition: all 0.3s;
 

  @media (max-width: 415px) {
  position: absolute;
  top: 60px;
  display: none;
  left: 300px;
  margin: auto;
  width: 30%;
  opacity: 0;
  z-index: 1;
  }

  
}
  .solid-logo:hover{
    border-radius: 100px;
    transition: all 0.3s ease;
  }
}


@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* index.scss */
@keyframes wipeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wipeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Add any other necessary styles */
